<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="auth-header">
  <%= link_to :back, class: "flex items-center justify-center p-2" do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
  <h2 class="text-lg self-center">RECOVER PASSWORD</h2>
  <%= f.submit "Reset" %>
</div>
  <br>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'input-field' %>
  </div>

  <div class="flex flex-col justify-center items-center mt-8">
  <%= render "devise/shared/links" %>
  </div>
<% end %>


