<%= form_with model: spend, url: group_spends_path(@group) do |form| %>
  <% if spend.errors.any? %>
    <div class="bg-red-300 rounded flex flex-col justify-center items-center m-2 text-red-800">
      <h2 class="text-center"><%= pluralize(spend.errors.count, "error") %> prohibited this spend from being saved:</h2>

      <ul>
        <% spend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-2 w-full field">
    <%= form.collection_check_boxes :group_ids, @groups, :id, :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"%>
  </div>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name", class: 'input-field' %>
  </div>

  <div class="field">
    <%= form.text_field :amount, class: 'input-field' %>
  </div>

  <div class="action">
    <%= form.submit 'CREATE TRANSACTION', class: 'input-submit'%>
  </div>
<% end %>
