<div class="w-full">
<div class="w-100 flex bg-white items-center justify-between p-4 mb-3">
<span class="text-1xl text-solid-grey">
      User: <%= current_user.name %>
</span>
      <span class="text-l font-bold">
      Total:  <%= number_to_currency(@group.calc_total) %>
      </span>
</div>
<p style="color: green"><%= notice %></p>
<div id="spends" class="min-w-full flex flex-col gap-3">
 <% if @spends.count > 0 %>
    <% @spends.each do |spend| %>
    <%= render spend %>
    <% end %>  
 <% else %>
    <h2 class="text-center text-solid-grey">This category doesn't have transactions yet.</h2>
 <% end %>
</div>
<br>
<div class="flex justify-center text-solid-grey">
<%= link_to "Back to categories", groups_path%>
</div>
<div class="action">
<%= link_to "New transaction", new_group_spend_path(@group) %>
</div>
</div>
